<%- model_class = Product -%>

<div class="page-header">
  <h1>Aardvarks & Anteaters: Absurd Animals </h1>

<hr/>

<h3><%= page_entries_info @products %></h3>

<hr/>

</div>

<div id="products">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=   (:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
      
         <%= render @products %>
  
  
</table>
</div>
<%= paginate @products %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
